.inner-title {
    color: #111111;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 25px;
    margin: 0 0 10px;
  }
  .inner-italic {
    color: #555555;
    font-size: 14px;
    line-height: 26px;
  }
  .inner-primary {
    color: #f17d80;
  }
  .inner-normal {
    color: #555555;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 15px;
  }
  .inner-bold-1 {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.4286px;
    text-align: center;
  }

  .inner-bold-2 {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 33.4286px;
    text-align: center;
  }

  .inner-bold {
    color: #333333;
    letter-spacing: 0.16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  /* other */
  hr {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .container-2 img {
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .span-link {
    color: #00bfc3;
  }
  
  .special {
    color: red;
    font-size: 24px;
  }